* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.headerProducer {
    width: 100%;
    height: 50px;
    background-color:
        #262626;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 6;
}

.nameHeaderProducer {
    margin-left: 20px;
    margin-top: 13px;
}

.nameHeaderProducer img {
    width: 170px;
}

.btnBuyNow {
    background-color: #82b440;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.containerContent {
    width: 100%;
    height: auto;
    background-color: #190e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.headerContainerContent {
    width: 100%;
    height: 100px;
    /* background-color: #161029; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    transition: height 1s ease;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    z-index: 5;
}

.normalSize {
    height: 100px;
}


.btnConnectToW {
    color: #fff;
    height: 46px;
    width: auto;
    padding: 0 30px;
    margin-top: 25px;
    margin-right: 30px;
    /* border: #fff 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 13px;
    overflow: hidden;
    /* */
}

.btnConnectToW::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border: 3px solid transparent;
    background: linear-gradient(45deg, #cc00ff, #7000ff, #cc00ff, #7000ff) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    background-size: 300% 300%;
}

.scroll {

    background-color: #151027;
    /* transition: all 0.5s ease; */
    height: 80px;
    /* margin-top: 15px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    animation: scrollAnimation 0.5s ease;
}


.scroll .category {
    margin-top: 25px;
    transition: all 0.5s ease;
}

.scroll .btnConnectToW {
    margin-top: 18px;
    /* margin-right: 10px; */
    transition: all 0.5s ease;
}

.nameheaderContainerContent {
    display: flex;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding-top: 37px;
    padding-left: 25px;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    border-radius: 50%;
    background-color: #161029;
    box-shadow: 0 0 20px rgb(173, 0, 176);
}

.navbar i {
    padding-bottom: 38px;
    padding-right: 25px;
    font-size: 25px;
}

.nameheaderContainerContent__item {
    margin-top: 25px;
    margin-left: 20px;
}

.nameheaderContainerContent__item img {
    font-size: 28px;
}

.contentShowSlide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    /* justify-content: center; */
}

.containerContentShowSlide {
    width: 1600px;
    box-sizing: border-box;
}

.headercontentShowSlide {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.headercontentShowSlide h1 {
    font-family: var(--hff);
    color: #fff;
    font-size: 50px;
    font-weight: 100;
}

.category {
    display: flex;
    margin-top: 35px;
    margin-left: 65px;
}

.category div {
    margin: 0 20px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: all 1s linear;
    font-family: var(--hff);
    /* opacity: 0; */
    /* text-decoration: underline; */

}

/* .categoryItem {
    display: inline-block;
    position: relative;
    color: transparent;
    background-size: 200% 100%;
    background-position: -100%;
    background-image: linear-gradient(to right, var(--mc1), var(--mc1) 50%, #ddd 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    mask-image: linear-gradient(to right, transparent 50%, black 50%);
}

.categoryItem:hover {
    background-position: 100%;
} */

.categoryItem p {
    color: #fff;
    font-size: 17px;
    transition: all 1s ease;
    /* scale: 0; */
}

.categoryItem::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    top: 28px;
    left: -100%;
    transition: all 0.4s linear;
    background-color: #ca0ae3
}

/* .categoryItem::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 25px;
    top: 0px;
    left: 100%;
    background-color: aqua;
    transition: all 0.4s linear;
    z-index: 0;
} */

/* 
.categoryItem::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 25px;
    top: 0px;
    left: 100%;
    background-color: aqua;
    transition: all 0.4s linear;
    z-index: 0;
} */

.categoryItem:hover::before {
    left: 0;
}

.categoryItem:hover p{
    color: #cc00ff;
 
}

/* .categoryItem:hover::after {
    left: 0;
} */


/* .categoryItem:hover {
    color: #ca0ae3;
} */

.showSlideMain {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    position: relative;
    /* background-color: #82b440; */
}

ul {
    width: 95%;
    height: 600px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-left: 3%;
}

ul li {
    position: absolute;
    width: 30%;
    margin: 10px;
    height: 460px;
    background-color: #fff;
    overflow: hidden;
}

ul li.pre {
    left: 2%;
    animation: aniAcPre 1s ease-in forwards;
}

@keyframes aniAcPre {
    0% {
        left: 3.2%;
    }

    90% {
        left: -20%;
        opacity: 0;
        transform: scaleX(0.1) scaleY(0.1) rotateY(-30deg);
    }

    100% {
        left: 100%;
        opacity: 0;
        transform: scaleX(0.1) scaleY(0.1) rotateY(-30deg);
    }
}


@keyframes aniboPre {
    to {
        transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
    }
}

ul li.pre1 {
    left: 2%;
    animation: aniAcPre1 1s ease-in forwards;

}

@keyframes aniAcPre1 {
    0% {
        left: 2%;
    }

    100% {
        left: 34%;
    }
}


@keyframes aniboPre1 {
    from {
        transform: scaleX(1.05) scaleY(0.85) rotateY(-30deg);
    }

    to {
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }
}

ul li.active {
    left: 34%;
    animation: aniAcActive 1s ease-in forwards;
}

@keyframes aniAcActive {
    to {
        left: 2%;
    }
}


@keyframes aniboActive {
    10% {
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }

    100% {
        transform: scaleX(1.05) scaleY(0.85) rotateY(-30deg);
    }
}


ul li.active1 {
    left: 33.5%;
    animation: aniAcActive1 1s ease-in forwards;
}

@keyframes aniAcActive1 {
    to {
        left: 65.5%;
    }
}


@keyframes aniboActive1 {
    10% {
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }

    100% {
        transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
    }
}

ul li.next {
    left: 65.5%;
    animation: aniAcNext 1s ease-in forwards;
}

@keyframes aniAcNext {
    to {
        left: 33.4%;
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }
}


@keyframes aniboNext {
    to {
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }
}

ul li.next1 {
    left: 65.5%;
    animation: aniAcNext1 1s ease-in forwards;
}

@keyframes aniAcNext1 {
    0% {
        left: 65.5%;
    }

    90% {
        left: 100%;
        opacity: 0;
        transform: scaleX(0.1) scaleY(0.1) rotateY(-30deg);
    }

    100% {
        left: 0;
        opacity: 0;
        transform: scaleX(0.1) scaleY(0.1) rotateY(-30deg);
    }
}


@keyframes aniboNext1 {
    to {
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }
}

ul li.hidden {
    left: 100%;
    animation: aniAcHid 1s ease-in forwards;
}



@keyframes aniAcHid {
    from {
        scale: 0.5;
        transform: scaleX(0.1) scaleY(0.1) rotateY(-30deg);
    }

    to {
        scale: 1;
        left: 65.5%;
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }
}


@keyframes aniboHid {
    to {
        transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
    }
}

ul li.hidden1 {
    left: -20%;
    animation: aniAcHid1 1s ease-in forwards;
}



@keyframes aniAcHid1 {
    from {
        scale: 0.8;
        transform: scaleX(0.1) scaleY(0.1) rotateY(30deg);
    }

    to {
        scale: 1;
        left: 2%;
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }
}

@keyframes aniboHid1 {
    to {
        transform: scaleX(1.05) scaleY(0.85) rotateY(-30deg);
    }
}


.itemSlide {
    width: 100%;
    height: 100%;
    background-color: #190e2e;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    border: none;
}

.itemSlide__in img {
    width: 100%;
    height: 100%;
}

.itemSlide__in {
    /* margin: 5px; */
    width: 97%;
    height: 100%;
    /* position: absolute; */
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 20px;
    /* margin-right: 10px; */
}

.pre .itemSlide__in {
    transform: scaleX(1.05) scaleY(0.85) rotateY(-30deg);
    margin-left: -20px;
}

.next .itemSlide__in {
    transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
    margin-left: 12.9px;
    animation: aniboNext 1s linear forwards;

}

.active .itemSlide__in {
    transform: scaleX(1) scaleY(1) rotateY(0);
    animation: aniboActive 1s linear forwards;
}

.hidden .itemSlide__in {
    transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
    margin-left: 13.7px;
    animation: aniboHid 1s linear forwards;
}


.pre1 .itemSlide__in {
    transform: scaleX(1) scaleY(1) rotateY(0deg);
    margin-left: 2px;
    animation: aniboPre1 1s linear forwards;

}

.next1 .itemSlide__in {
    transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
    margin-left: 12.9px;
    animation: aniboNext1 1s linear forwards;

}

.active1 .itemSlide__in {
    transform: scaleX(1) scaleY(1) rotateY(0);
    margin-left: 14px;
    animation: aniboActive1 1s linear forwards;
}

.hidden1 .itemSlide__in {
    transform: scaleX(1.05) scaleY(0.85) rotateY(30deg);
    margin-left: -3.5px;
    animation: aniboHid1 1s linear forwards;
}

.btnShowSlide {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.btnPre {
    width: 100px;
    margin: 20px;
    height: auto;
    background-color: #190e2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnNext {
    width: 100px;
    margin: 20px;
    height: auto;
    background-color: #130f2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-left: 100px;
}

.btnNext::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    left: -84px;
}

.round {
    width: 15px;
    height: 15px;
    background-color: #161029;
    border: #fff 1px solid;
    border-radius: 50%;
}

.roundDec {
    width: 30px;
    height: 30px;
    background-color: #161029;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    border: #fff 1px solid;
}

.onpensa {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.onpesa__content {
    color: #fff;
    width: 600px;
    text-align: center;
}

.statistical {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #0f0a20;
    margin-top: 150px;
    border-top: rgba(255, 255, 255, 0.5) 0.5px solid;
    border-bottom: rgba(255, 255, 255, 0.5) 0.5px solid;
}

.containerSta {
    width: 1600px;
}

.hiddenItem {
    opacity: 0;
}

.statisticalContainer {
    left: -80px;
    /* position: absolute; */
    margin-top: 50px;
    margin-right: 170px;
    width: 1600px;
    height: 200px;
    /* background-color: #08031b; */
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.statisticalitem {
    width: 25%;
    height: 290px;
    background-color: #0f0a20;
    display: flex;
    align-items: center;
}

.definitely {
    width: 140px;
    height: 2px;
    background-color: #fff;
    position: relative;
    margin-right: 50px;
}



.definitely::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 5%;
    transform: rotateZ(-45deg);
    left: 45%;

}

.definitely::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 5%;
    left: 55%;
    transform: rotateZ(-45deg);
}

.contentStatis {
    height: 100px;
    width: 170px;
    background-color: #0f0a20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleStatis {
    color: #fff;
}

.numberStatis {
    font-size: 50px;
    /* border: #ca0ae3 2px solid; */
}

.numberStatisContainer {
    background: linear-gradient(to right, #ff10db, #7a04e8);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #160f1a;
    filter: drop-shadow(0 5px 20px rgba(204, 0, 255, .15));
    overflow: hidden;
}

.numberStatis__item1 {
    font-size: 50px;
    font-weight: bold;
    /* outline: 2px solid #000; */
    display: inline;

}

.numberStatis__item2 {
    font-size: 50px;
    font-weight: bold;
    /* outline: 2px solid #000; */
    display: inline;
}

.numberStatis__item2--text {
    font-size: 50px;
    font-weight: bold;
    /* outline: 2px solid #000; */
    display: inline;
    margin-left: -3px;
}

.numberStatis__item3 {
    font-size: 50px;
    font-weight: bold;
    /* outline: 2px solid #000; */
    display: inline;
}

.numberStatis__item4 {
    font-size: 50px;
    font-weight: bold;
    /* outline: 2px solid #000; */
    display: inline;
}

.numberStatis__item4--text {
    font-size: 50px;
    font-weight: bold;
    /* outline: 2px solid #000; */
    display: inline;
    margin-left: -3px;
}

.containerStory {
    width: 100%;
    height: 1200px;
    background-color: #190e2e;
    display: flex;
    justify-content: center
}

.StoryMain {
    position: relative;
    width: 1600px;
    height: 900px;
    display: flex;
    justify-content: space-between;
}

.imageStory {
    /* margin-top: 200px; */
    /* width: 60%; */
}

.imageStory1 {
    position: absolute;
    left: -580px;
    margin-top: 200px;
}

.layoutimageStory1 {
    position: absolute;
    width: 900px;
    height: 1000px;
    background-color: #130f2f;
    opacity: 0.6;
}

.imageStory1 img {
    height: 800px;

}

.imageStory2 {
    position: absolute;
    top: 340px;
    left: 430px;
    border: #fff 1px solid;
}

.imageStory2 img {
    padding: 20px;
    width: 500px;
}

.StoryAbout {
    margin-top: 250px;
    margin-right: 100px;
}


.contentStory {
    margin-top: 45px;
    width: 500px;
}



.headerStory p {
    font-size: 40px;
    color: #fff;
    font-weight: 100;
    position: relative;
}

/* .headerStory p::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #fff;
    top: 70px;
    left: 0px;
} */

.contentStory p {
    opacity: 0.5;
    color: #fff;
    margin-top: 20px;
}

.btnFind {
    font-size: 15px;
    width: 220px;
}

.StoryDetial {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #190e2e;
}

.containerStoryDetial {
    width: 1600px;
    display: flex;
    ;
}

.storyDetial__item1 {
    width: 40%;
    height: auto;
    margin-left: 100px;
}

.storyDetial__item2 {
    width: 60%;
    height: auto;
}

.storyDetial__item1--header {
    margin-left: 80px;
}

.definitely1 {
    width: 140px;
    height: 2px;
    background-color: #fff;
    position: relative;
    margin-right: 50px;
}



.definitely1::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 5%;
    transform: rotateZ(-45deg);
    left: 5%;

}

.definitely1::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 5%;
    left: 15%;
    transform: rotateZ(-45deg);
}

.storyDetial__item2 {
    display: flex;
    flex-direction: column;
    margin-left: -130px;
}

.storyCategory__Item {
    display: flex;
    justify-content: space-around;
}

.container__storyCategory__Item {
    margin-top: 100px;
    width: 400px;
    height: 200px;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 10px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__storyCategory__Item--detial {
    width: 350px;
    height: 150px;
    /* background-color: #fff; */
    border-radius: 10px;
    background-color: rgba(140, 140, 140, 0.5);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 50px;
}

.container__storyCategory__Item--detial--header p {
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}

.container__storyCategory__Item--detial--content {
    color: #fff;
    opacity: 0.7;
}

.video {
    overflow: hidden;
    border-radius: 20px;
    height: 410px;
    margin-top: 50px;
    margin-left: 40px;
    width: 880px;
    background-color: #fff;
    position: relative;
}

.video img {
    width: 100%;
    height: 100%;
}

.video a {
    width: 100px;
    height: 100px;
    /* background-color: #161029; */
    position: absolute;
    top: 40%;
    left: 45%;
    border: rgba(255, 255, 255, 0.5) 7px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.video i {
    font-size: 30px;
}


.definitelyItem {

    /* background-color: #fff; */
    margin-top: 150px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.definitelyItem1 {
    width: 40%;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
}

.definitelyItem2 {
    width: 13px;
    height: 13px;
    background-color: 50%;
    border: #fff 2px solid;
    border-radius: 50%;
}

.definitelyItem3 {
    width: 200px;
    height: 12px;
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.8) 2px solid;
}

.collection {
    width: 100%;
    background-color: #190e2e;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCollec {
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collectionHeader p {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    margin-top: 150px;
}

.collectionItem1 {
    margin-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: end;
    box-sizing: border-box;
}

.collectionItem2 {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
    box-sizing: border-box;
}

.collectionItem11 {
    width: 390px;
    height: 390px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(255, 255, 255, 0.5) 1px solid;
}

.collectionItem12 {
    width: 220px;
    height: 220px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(255, 255, 255, 0.5) 1px solid;
}

.collectionItem11M {
    margin-left: 90px;
}

.collectionItem11L {
    margin-right: 120px;
}

.collectionItem21L {
    margin-left: 120px;
}

.collectionItem21M {
    margin-right: 90px;
}

.collectionItem11Img {
    width: 330px;
    height: 330px;
    /* background-color: #ca0ae3; */
    /* animation: rotate 4s infinite linear; */
    transform-origin: center center;
    perspective: 1000px;
    /* Khoảng cách giữa mắt và mặt phẳng để tạo hiệu ứng 3D */
    backface-visibility: hidden;

}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(-20deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.collectionItem11Img img {

    width: 100%;
    height: 100%;
}

.rotatee img {
    animation: rotate 1s forwards linear;
    transform-origin: center center;
    perspective: 1000px;
    /* Khoảng cách giữa mắt và mặt phẳng để tạo hiệu ứng 3D */
    backface-visibility: hidden;
    /* Ẩn mặt sau của phần tử */
}

/* .collectionItem11Img:hover {
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: center center;
} */

.collectionItem12Img {
    width: 160px;
    height: 160px;
    transform-origin: center center;
    perspective: 1000px;
    /* Khoảng cách giữa mắt và mặt phẳng để tạo hiệu ứng 3D */
    backface-visibility: hidden;
    /* background-color: #ca0ae3; */
}

.collectionItem12Img img {
    width: 100%;
    height: 100%;
}

.desCollection {
    width: 600px;
    margin-top: 100px;
}

.desCollection p {
    color: #fff;
    text-align: center;
}

.roadMap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.containerRoadMap {
    width: 1600px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #82b440; */
}

.headerRoadMap {
    margin-top: 100px;
}

.headerRoadMap p {
    color: #fff;
    font-size: 40px;
}

.percentMap {
    width: 90%;
    margin-top: 140px;
    height: 150px;
    /* background-color: #82b440; */
    border: 1px dashed #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

.foot {
    /* display: flex; */
    /* justify-content: start; */
    position: absolute;
    left: 50px;
    margin-top: 22px;
    width: 35%;
    height: 30%;
    /* background-color: #82b440; */
    background-image: url(https://meta-portal-react.vercel.app/img/roadmap.png);
    background-repeat: repeat-x;
    overflow: hidden;
    transition: all 1s ease;
}

.phaseMap {
    /* position: absolute; */
    top: 500px;
    width: 91%;
    height: auto;
    margin-top: 100px;
    padding-top: 20px;
    overflow: hidden;
    /* transform: translateX(-10%); */
    /* background-color: #160f1a; */
}

.line {
    width: 4500px;
    height: 1px;
    background-color: #fff;
}

.phaseMapDetial {
    margin-top: 100px;
    width: 3300px;
    height: auto;
    background-color: #140f30;
    display: flex;
    justify-content: space-between;
}

.phaseMapContai {
    position: relative;
    /* left: calc(-370*3px); */
    left: calc(0px);
    transition: all 1s ease;
}

.phaseMapDetial__item {
    width: 330px;
    height: 380px;
    background-color: #140f30;
    position: relative;
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    color: #fff;
}

.phaseMapDetial__item::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -120px;
    left: 40px;
    background: linear-gradient(to right, #cc00ff, #7000ff);
}

.phaseMapDetial__item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -110px;
    left: 50px;
    background: black;
    z-index: 1;
}

.phaseName {
    width: 200px;
    background-color: #828282;
    border-radius: 10px 0;
}

.phaseTime {
    margin-left: 40px;
    margin-top: 30px;
}

.phaseTime {
    opacity: 0.7;
}

.phaseEvent {
    margin-left: 40px;
    margin-top: 10px;
}

.phaseEvent p {
    font-weight: bolder;
}

.phaseDes {
    margin-left: 40px;
    margin-top: 30px;
    width: 250px;
}

.phaseDes p {
    opacity: 0.7;
}

.layoutContainer {
    /* width: 1000px;
    height: 800px; */
    /* background-color: #000000; */
}

.layout1 {
    position: fixed;
    width: 270px;
    height: 270px;
    top: 35%;
    left: 25%;
    background-color: #cc00ff;
    border-radius: 100%;
    -webkit-filter: blur(150px);
    -o-filter: blur(150px);
    filter: blur(150px);
}

.layout2 {
    position: fixed;
    width: 270px;
    height: 270px;
    top: 45%;
    left: 55%;
    background-color: #7000ff;
    border-radius: 100%;
    -webkit-filter: blur(150px);
    -o-filter: blur(150px);
    filter: blur(150px);
}

.latestArticlesHeader {
    color: #fff;
    font-size: 50px;
    margin-bottom: 100px;
}

.latestArticles {
    width: 100%;
    height: auto;
    background-color: #190e2e;
    display: flex;
    justify-content: center;
}

.containerArt {
    width: 1600px;
    height: auto;
    /* background-color: #3b155d; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latestArticlesContent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.latestArticlesContent__item {
    width: 40%;
    height: 900px;
    /* background-color: #984848; */
    display: flex;
    flex-direction: column;
}

.Articles1 {
    width: 100%;
    height: 80%;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.btnarti {
    margin-top: 60px;
    margin-right: 0;
}

.Articles2 {
    width: 100%;
    height: 80%;
    /* border: #fff 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.Articles21 {
    width: 100%;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.latestArticlesContent__item1 {
    width: 40%;
    height: 900px;
    /* background-color: #984848; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ArticlesDes {
    margin-bottom: 70px;
    color: #fff;
}

.containerArticles1 {
    width: 550px;
    height: 620px;
    /* background-color: #848484; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* .articlesIndex {
    width: 20px;
    height: 40px;
    border-radius: 50%;
} */

.articlesIndex {
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 0 20px;

    margin-right: 30px;
    /* border: #fff 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /* */
}

.articlesIndex::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 3px solid transparent;
    background: linear-gradient(45deg, #cc00ff, #7000ff, #cc00ff, #7000ff) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    background-size: 300% 300%;
}

.articles1img {
    width: 100%;
    height: auto;
}

.articles1img img {
    width: 100%;
}

.readMore {
    width: 400px;
    height: 20px;
    /* background-color: #7000ff; */
    display: flex;
    align-items: center;
    position: relative;
}

.lineRead {
    width: 100px;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s ease;

}

.textRead {
    opacity: 0;
    left: 100px;
    width: 100px;
    position: absolute;
    margin-left: 15px;
    transition: all 0.5s ease;
}

.Articles1:hover .lineRead {
    width: 50px;
}


.Articles1:hover .textRead {
    left: 50px;
    opacity: 1;
}

.articles21Container {
    width: 90%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.Articles21:hover .lineRead {
    width: 50px;
}


.Articles21:hover .textRead {
    left: 50px;
    opacity: 1;
}

.contactUs {
    width: 100%;
    height: auto;
    background-color: #190e2e;
    display: flex;
    justify-content: center;
}

.containerContact {
    width: 1300px;
    height: auto;
    /* background-color: #8f8f8f; */
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
    padding-bottom: 70px;
}


.infomation {
    width: 100%;
    height: 250px;
    /* background-color: #ff10db; */
    display: flex;
    justify-content: space-between;
}

.infomation p {
    opacity: 0.5;
}

.infomation__item {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headerContact {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
}

.address {
    margin-left: 170px;
}

.input {
    width: 100%;
    height: 400px;
    /* background-color: #505050; */
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.input input {
    width: 100%;
    height: 100%;
    background-color: #190e2e;
    color: #fff;
}

.check {
    width: 100%;
    height: 40px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.check p {
    margin-left: 20px;
    opacity: 0.5;
}

.input__item {
    width: 100%;
    height: 70px;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: space-between;
}

.input__itemText {
    width: 100%;
    height: 200px;
    background-color: #262626;
    border: #fff 1px solid;
}

.btnSend {
    width: 250px;
    font-size: 13px;
    /* margin-bottom: 200px; */
}

.input__item div {
    width: 47%;
    height: 100%;
    background-color: #82b440;
    border: #fff 1px solid;
}


.email {
    margin-bottom: 50px;
}

.ofi {
    margin-bottom: -25px;
}

.other {
    margin-bottom: 160px;
}

@media screen and (max-width: 1600px) and (min-width: 1100px) {
    /* .containerContentShowSlide {
        width: 100%;
    } */

    .statisticalContainer {
        width: 100%;
    }

    .StoryMain {
        width: 100%;
    }

    .imageStory {
        width: 50%;
    }

    .StoryAbout {
        width: 50%;
        margin-right: 0px;
    }

    .imageStory1 {
        left: -900px;
    }

    .imageStory2 {
        left: 0;
    }

    .containerStoryDetial {
        flex-direction: column;
        align-items: center;
    }

    .containerRoadMap {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {

    .btnConnectToW {
        display: none;
    }

    .category {
        display: none;
    }

    .containerContentShowSlide {
        width: 100%;
    }

    .nameheaderContainerContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nameheaderContainerContent__item {
        order: -1;
    }

    .statistical {
        height: 1000px;
    }

    .StoryAbout {
        display: flex;
        justify-content: center;
        margin-left: -70px;
    }

    .headerStory {
        position: relative;
        /* left: 360px; */
        margin-bottom: 30px;
    }

    .statisticalContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 900px;
        margin-right: 0;
    }

    .definitely {
        /* display: none; */
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .statisticalitem {
        width: 100%;
        flex-direction: column;
    }

    .containerStory {
        height: 1700px;
        align-items: center;
        justify-content: center;
    }

    .StoryMain {
        flex-direction: column;
        height: 1700px;
        padding-bottom: 100px;
    }

    .containerStoryDetial {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .storyCategory__Item {
        flex-direction: column;
        align-items: center;
    }

    .container__storyCategory__Item {
        width: 100%;
    }

    .video {
        width: 100%;
    }

    .collectionItem1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* } */
    .collectionItem2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collectionItem12 {
        width: 100%;
        margin: 0;
    }

    .collectionItem12img {
        width: 100%;
        margin: 0;
    }

    .collectionItem12 img {
        width: 100%;
    }

    .collectionItem11 {
        width: 100%;
        margin: 0;
    }

    .containerRoadMap {
        width: 100%;
    }

    .latestArticlesContent {
        flex-direction: column;
        align-items: center;
    }

    .containerContact {
        width: 100%;
    }

    .infomation {

        flex-direction: column;
        align-items: center;
        height: 1000px;
    }
    .address {
        margin-left: 0;
    }

    .other {
        margin-top: 50px;
    }
}


@media screen and (max-width: 768px) {

    .btnConnectToW {
        display: none;
    }

    .category {
        display: none;
    }

    .containerContentShowSlide {}

    .containerRoadMap {
        width: 100%;
    }

    .latestArticlesContent {
        flex-direction: column;
        align-items: center;
    }

    .infomation {

        flex-direction: column;
        align-items: center;
        height: 1000px;
    }
    .address {
        margin-left: 0;
    }

    .other {
        margin-top: 50px;
    }

    .input__item {
        display: flex;
        flex-direction: column;

    }

    .input__item div {
        width: 100%;
        margin-top: 10px;
    }

    .statistical {
        height: 1000px;
    }

    .StoryAbout {
        display: flex;
        justify-content: center;
        margin-left: -70px;
    }

    .headerStory {
        position: relative;
        /* left: 360px; */
        margin-bottom: 30px;
    }

    .statisticalContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 900px;
        margin-right: 0;
    }

    .definitely {
        /* display: none; */
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .statisticalitem {
        width: 100%;
        flex-direction: column;
    }

    
    .containerStory {
        height: 1700px;
        align-items: center;
        justify-content: center;
    }

    .StoryMain {
        flex-direction: column;
        height: 1700px;
        padding-bottom: 100px;
    }

    .containerStoryDetial {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .storyCategory__Item {
        flex-direction: column;
        align-items: center;
    }

    .container__storyCategory__Item {
        width: 100%;
    }

    .video {
        width: 100%;
    }

    .collectionItem1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* } */
    .collectionItem2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collectionItem12 {
        width: 100%;
        margin: 0;
    }

    .collectionItem12img {
        width: 100%;
        margin: 0;
    }

    .collectionItem12 img {
        width: 100%;
    }

    .collectionItem11 {
        width: 100%;
        margin: 0;
    }

}